.colorblue{
  background-color: #4464A2;
}

.dragulastyle > .gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.dragulastyle > .gu-hide {
  display: none !important;
}
.dragulastyle > .gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.dragulastyle > .gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


.dragulastyle > h1 {
  text-align: center;
  background-color: #AC5C7E;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
}

.dragulastyle > h3 {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid #A13462;
  text-align: center;
  padding: 10px;
}

.dragulastyle > h3 div {
  margin-bottom: 10px;
}

.dragulastyle > .tagline {
  margin-top: 0;
}

.dragulastyle > .promo {
  margin-bottom: 0;
  font-style: italic;
  padding: 10px;
  background-color: #ff4020;
  border-bottom: 5px solid #c00;
}

.dragulastyle > a {
  font-weight: bold;
}
.dragulastyle > a,
a:hover {
  color: #ecf0f1;
}

.dragulastyle > pre {
  white-space: pre-wrap;
}

.dragulastyle > pre code {
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
}

.dragulastyle > label {
  display: block;
  margin-bottom: 15px;
}

.dragulastyle > sub {
  display: block;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 11px;
  font-style: italic;
}

.dragulastyle > ul {
  margin: 0;
  padding: 0;
}

.dragulastyle > .parent {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 50px 0;
  padding: 20px;
}

.dragulastyle > input {
  border: none;
  outline: none;
  background-color: #ecf0f1;
  padding: 10px;
  color: #942A57;
  border: 0;
  margin: 5px 0;
  display: block;
  width: 100%;
}

.dragulastyle > button {
  background-color: #ecf0f1;
  color: #942A57;
  border: 0;
  padding: 18px 12px;
  margin-left: 6px;
  cursor: pointer;
  outline: none;
}

.dragulastyle > button:hover {
  background-color: #e74c3c;
  color: #ecf0f1;
}

.dragulastyle > .gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* dragula-specific example page styles */
.dragulastyle > .wrapper {
  display: table;
}
.dragulastyle > .container {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
}
.dragulastyle > .container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.dragulastyle > .container div,.dragulastyle > 
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}
.dragulastyle > .container div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.dragulastyle > .gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.dragulastyle > .container .ex-moved {
  background-color: #e74c3c;
}
.dragulastyle > .container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
.dragulastyle > .handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}