@font-face {
  font-family: 'FontAwesome';
  src: url('../bower_componentsa/components-font-awesome/fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../bower_componentsa/components-font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../bower_componentsa/components-font-awesome/fonts/fontawesome-webfont.woff?v=3v=3.0.1') format('woff'),
    url('../bower_componentsa/components-font-awesome/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.woff2') format('woff2'),
         url('montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
  font-family: montserratbold;
}
.style-3 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-3 input[type="text"]:focus,
.style-3 input[type="text"].focus {
  border: solid 5px #969696;
}
.cabeceralogin, .centroindex{
  background-color: #FFF;
}
.divfooter{
  background-color: #41454c;
  color: #FFF;
}
.positiontop{
  padding-top: 165px;
}
.messageresult{
  text-align: center;
  width: 100%;
  height: 65px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(92, 184, 92,0.7);
  color: #fff;
  padding: 5px;
  font-size: 20px;
}
#resuser>img:hover {
    top: 1px;
    position: relative;
    border: solid 1px red;
    padding: 3px;
    border-radius: 10px;
}

.titulorl{
  font-size: 24px;
    font-weight: 200;
    color: #FFF;
    margin-left: 10px;
}

.cuadro{
  border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 2px dashed #999999;
background: rgba(255, 255, 255, 0.7);
margin: 3px;
padding: 10px;
}

.clean{
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.tituloJuego div{
     float:left;
}
body {
    background-color: #FFF;
}
.solimg3{
  position: relative;
  top: 10px;
  z-index: 100;
}

.pad{
  padding: 23px;
  min-height: 150px;
}
.how_to{
    font-size: 45px;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    margin-top: 50px;
    width: 60%;
}
.elite{
      font-size: 35px;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    margin-top: 30px;
    margin-left: 19px;
}
.to_run{
  font-size: 40px;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    margin-top: 30px;
    margin-left: 34px;
}
.k5{
  font-size: 60px;
    color: #f47e48;
}
.texto{
  font-size: 20px;
  padding: 49px;
}
.positionbtm{
  padding-bottom: 100px;
  padding-top: 10px;
}
.cabeceraindex{
  background-color: #41454c;  
}
.titlep{
  color: #FFF !important;
}
.titlepb{
  color: #FFF !important;
  margin-bottom: 30px !important;
  margin-top: 20px;
}
footer{
  padding: 15px;
  text-align: center;
}
.title-form{
  color: white;
  font-weight: bold;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.input-style{
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 3px #8e8d8d;
    height: 47px;
    font-size: 18px;
}
.input-style:focus{
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 3px #FF7F44;
    height: 47px;
    font-size: 18px;
}
.runlogin{
  background: url(../images/runlogin.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.caja{

    background-color: rgba(0, 0, 0, 0.34);
    padding: 24px;
    margin-top: 36px;
    border-radius: 5px;

}
.cajadark{

    background-color: rgba(0, 0, 0, 0.64);
    padding: 24px;
    margin-top: 36px;
    border-radius: 5px;
    color:white;
}
.wht{
  color: white;
  font-size: 30px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FF7F44;
}

.centrologinin{
 background-color: #fff; 
 height: auto;
 min-height: 500px;
 
}
.centrologin{
 background-color: #fff; 
 height: auto;
 min-height: 900px;
 
}
@media only screen and (max-width: 620px) and (min-width: 501px) {  
  
} 
.img-responsive {
    margin: 0 auto;
}
.jumbotron {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
 .row-full{
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 100px;
 margin-top: 100px;
 left: 50%;
}
.footer {
  margin-top: 40px;
  border-top: 1px solid #eee;
}
.btn-orange{
    color: #fff;
    background-color: #FF7F44;
    border-color: #FF7F44;
}
.btn-orange:hover{
    color: #fff;
    background-color: #FF5C0F;
    border-color: #FF5C0F;
}

.btn-orange:active{
  color: #fff;
    background-color: #000;
    border-color: #fff;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin-bottom: 0px !important;
  /*background-color: transparent;*/
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.menunav{
  margin-bottom: 0px;
}

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}


@media screen and (min-width: 768px) {
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #41454c;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #41454c;
}
::-webkit-scrollbar-track {
  background: #FFF;
  border: 0px none #ffffff;
  border-radius: 42px;
}
::-webkit-scrollbar-track:hover {
  background: #41454c;
}
::-webkit-scrollbar-track:active {
  background: #FFF;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*loading bar*/
.load-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

.profile-image{
  max-height: 30px;
  width: auto;
  vertical-align: middle;
}
.navbar-login{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}
.navbar-login-session{
  padding:10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.icon-size{
  font-size: 87px;
}
.icon-size img{
  width: 100px;
  height: auto;
  margin-top: -30px;
}

.button {
    width: 100%;
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #752d16, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #752d16, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #752d16, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
}

.button span {
    width: 100%;
    display: inline-block;
    padding: 20px 30px;
    background-color: #FF7F44;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(150, 41, 8, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    width: 100%;
    background-color: #ea5815;
    text-shadow: 0 -1px 1px rgba(150, 41, 8, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    width: 100%;
    -webkit-box-shadow:    0 8px 0 #752d16, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #752d16, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #752d16, 0 12px 10px rgba(0, 0, 0, .3);
    color:#FFF;
}

.button:active span {
    width: 100%;
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.crono{
    font-size: 70px;
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 26px;
    color: #FFF;
}