<div ng-show="about.loading" class="load-bar">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>
<nav class="navbar navbar-inverse cabeceraindex menunav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/juego">Runnigan App</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#!/juego">Training</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">          
          <img ng-if="about.photoprofile!=='null'" ng-src="{{about.photoprofile}}" class="profile-image img-circle">
          {{about.email_login}} 
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <div class="navbar-login">
              <div class="row">
                <div class="col-lg-4">
                  <span class="icon-size">
                    <img ng-if="about.photoprofile!=='null'" ng-src="{{about.photoprofile}}" alt="" class="img circle">
                    <img ng-if="about.photoprofile==='null'" src="images/img3.png" alt="" class="img circle">
                  </span>
                </div>
                <div class="col-lg-8">
                  <p class="text-left"><strong>{{about.nameprofile}}</strong></p>
                  <p class="text-left">
                    <a href="#!/profile" class="btn btn-warning btn-sm">Update profile</a> 
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="divider"></li>
          <li>
            <div class="navbar-login navbar-login-session">
              <div class="row">
                <div class="col-lg-12">
                  <p>
                    <button class="btn btn-lg  btn-orange" title="{{about.user.email}}" ng-click="about.logout()">Sign out</button>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron centrologin runlogin">
  <div class="container">      
      <div class="row">
        <div class="col-md-12 caja">
          
            <h2 class="form-signin-heading title-form">Register your session</h2>
            <form class="form-signin">
            <div class="col-md-6">
              <a href="" ng-click="about.empezarDetener()" class="button">
                <span>{{about.btn_crono}}</span>
              </a>
            </div>
            <div class="col-md-6 crono">{{about.result}}</div>


            <label for="inputDistancia" class="sr-only">Distancia</label>
            <input type="text" id="inputDistancia" class="form-control input-style" placeholder="Distancia (km)" required autofocus ng-model="about.loginForm.distancia">

            
            <div class="form-group">
              <select ng-model="about.loginForm.tipo" required class="input-style form-control input-md" id="sel1">
                <option selected="">Long stride</option>
                <option>Short stride</option>
              </select>
            </div>

            <label for="inputEmaili" class="sr-only">Descrption</label>
            <input type="text" id="inputDescription" class="form-control input-style" placeholder="Description (optional)" required autofocus ng-model="about.loginForm.descripcion">


            <button id="btn_session" class="btn btn-lg  btn-orange"  ng-click="about.savesession()">Save session <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span></button>
           </form>
        </div>
        
       </div>

<div class="container cajadark">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
          <caption class="text-center wht">Your history</caption>
          <thead>
            <tr>
              <th>Time</th>
              <th>Distance</th>
              <th>Type</th>
              <th>Description</th>              
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="lists in about.listasessiones">
              <td>{{lists.time}}</td>
              <td>{{lists.distancia}}</td>
              <td>{{lists.tipo}}</td>
              <td>{{lists.descripcion}}</td>
            </tr>
            
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">Be the best in your training</td>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>


    </div>
</div>




<footer class="divfooter footer navbar-fixed-bottom clean">
  © 2017 Runnigan App.
</footer>