<div ng-show="login.loading" class="load-bar">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>
<div class="jumbotron cabeceraindex">
  <div class="row clean">
    <div class="col-md-12">
      <h1 class="titlep">Runnigan App</h1>
    </div>
    <div class="col-md-12">
      <p class="titlepb">
        For running like a rockstar
      </p>
    </div>
  </div>
</div>
<div class="jumbotron centrologin runlogin">
	<div class="container">      
      <div class="row">
        <div class="col-md-4 col-md-offset-1 caja">
        	<form class="form-signin">
		        <h2 class="form-signin-heading title-form">Log in</h2>
		        <label for="inputEmaili" class="sr-only">Email</label>
		        <input type="email" id="inputEmaili" class="form-control input-style" placeholder="Email" required autofocus ng-model="login.loginForm.email">
		        <label for="inputPasswordi" class="sr-only">Password</label>
		        <input type="password" id="inputPasswordi" class="form-control input-style" placeholder="Password" required ng-model="login.loginForm.password">
		        
		        <button id="btn_entrar" class="btn btn-lg  btn-orange"  ng-click="login.login()">Enter <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button>
		      </form>
        </div>
        <div class="col-md-4 col-md-offset-2 caja">
        	<form class="form-signin">
		        <h2 class="form-signin-heading title-form">Sign up</h2>
		        <label for="inputEmail" class="sr-only">Correo</label>
		        <input type="email" id="inputEmail" class="style-3 form-control input-style" placeholder="Email" required autofocus ng-model="login.loginFormr.emailr">
		        <label for="inputPassword" class="sr-only">Password</label>
		        <input type="password" id="inputPassword" class="form-control input-style" placeholder="Password" required ng-model="login.loginFormr.passr">
		        <label for="inputPassword" class="sr-only">Confirm password</label>
		        <input type="password" id="inputPassword" class="form-control input-style" placeholder="Confirm password" required ng-model="login.loginFormr.passrc" >
		        
		        <button id="btn_registrar" class="btn btn-lg  btn-orange" ng-click="login.register()">Send <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
		      </form>
        </div>
       </div>
    </div>
</div>
<footer class="divfooter footer navbar-fixed-bottom">
  © 2017 Runnigan App.
</footer>
