<!-- <a class="btn btn-lg btn-success" ui-sref="login" role="button">Iniciar</a> -->

<div class="jumbotron cabeceraindex">
  <div class="row clean">
    <div class="col-md-12">
      <h1 class="titlep">Runnigan App</h1>
    </div>
    <div class="col-md-12">
      <p class="titlepb">
        For running like a rockstar
      </p>
    </div>
  </div>
</div>

<div class="jumbotron centroindex">
  <div class="row clean">
    <div class="col-md-6 ">
      <div class="how_to">How to use an</div>
      <div class="elite">elite runner 5k training plan</div>
      <div class="to_run">to run your best <label class="k5">5k</label> ever</div>
    </div>
    
    <div class="col-md-5">
      <img class="solimg3" src="images/img3.png" alt="la quimica un juego">
    </div>
  </div>
</div>

<div class="jumbotron cabeceraindex boxsol">
  <div class="row clean pad">    
    <div class="col-md-12">
      <p class="titlepb">
        Register your sessions and find the coach that you need to be in shape
      </p>
      <div class="col-md-12">
        <a class="btn btn-lg  btn-orange" ng-href="#!/login" role="button">Get started now</a>
      </div>
    </div>
  </div>
</div>

<footer class="cabeceralogin clean">
  © 2017 Runnigan App.
</footer>