<div ng-show="profile.loading" class="load-bar">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>
<nav class="navbar navbar-inverse cabeceraindex menunav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/juego">Runnigan App</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#!/juego">Training</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img ng-if="profile.photoprofile!=='null'" ng-src="{{profile.photoprofile}}" class="profile-image img-circle">
          {{profile.email_login}} 
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <div class="navbar-login">
              <div class="row">
                <div class="col-lg-4">
                  <span class="icon-size">
                    <img ng-if="profile.photoprofile!=='null'" ng-src="{{profile.photoprofile}}" alt="" class="img circle">
                    <img ng-if="profile.photoprofile==='null'" src="images/img3.png" alt="" class="img circle">
                  </span>
                </div>
                <div class="col-lg-8">
                  <p class="text-left"><strong>{{profile.nameprofile}}</strong></p>
                  <p class="text-left">
                    <a class="btn btn-warning btn-sm">Update profile</a> 
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="divider"></li>
          <li>
            <div class="navbar-login navbar-login-session">
              <div class="row">
                <div class="col-lg-12">
                  <p>
                    <button class="btn btn-lg  btn-orange" title="{{profile.user.email}}" ng-click="profile.logout()">Sign out</button>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron centrologin runlogin">
  <div class="container">      
      <div class="row">
        <div class="col-md-12 caja">
          <form class="form-signin">
            <h2 class="form-signin-heading title-form">Profile</h2>
            
            <label for="inputEmaili" class="sr-only">Email</label>
            <input disabled="" type="text" id="inputEmaili" class="form-control input-style" placeholder="Email" ng-model="profile.loginForm.email">

            <label for="inputEmaili" class="sr-only">First name</label>
            <input type="text" id="inputEmaili" class="form-control input-style" placeholder="First name" required autofocus ng-model="profile.loginForm.firstname">
            
            <label for="inputPasswordi" class="sr-only">Last name</label>
            <input type="text" id="inputPasswordi" class="form-control input-style" placeholder="Last name" required ng-model="profile.loginForm.lastname">

            <label for="inputPasswordi" class="sr-only">Age</label>
            <input type="text" id="inputPasswordi" class="form-control input-style" placeholder="Age" required ng-model="profile.loginForm.age">

            <div class="form-group">
              <select ng-model="profile.loginForm.gender" class="input-style form-control input-md" id="sel1">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            

  <div flow-init
       flow-name="uploader.flow"
       flow-files-added="processFiles($files)">
          <button class="input-style form-control" flow-btn type="file">Profile photo</button>

          <img class="img-circle" width="150" data-ng-src="{{profile.loginForm.file}}" data-err-src="images/img3.png"/>
          <img ng-if="profile.loginForm.file==''" width="150" data-ng-src="images/img3.png" data-err-src="images/img3.png"/>
          <div style="display: none" ng-repeat="image in uploader.flow.files track by $index">
                <img width="150" class="preview" flow-img="image"/>
              </div>
          </div><br>

            <button id="btn_entrar" class="btn btn-lg  btn-orange"  ng-click="profile.updateprofile()">Update <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span></button>
          </form>
        </div>
        
       </div>
    </div>
</div>


<footer class="divfooter footer navbar-fixed-bottom clean">
  © 2017 Runnigan App.
</footer>